<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css" type="text/css" media="screen">
 
    <title>Document</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
     
          <img src="../icons/logo comida.png" alt="" class="logo">
     
          <img src="../icons/bars-solid.svg" alt="menu" class="nav-togger-menu">
     
          <ul class="nav-menu ">
            <div class="nav-Menu-cerrar">
              <img src="../icons/cerrar 2 circle-xmark-regular.svg" alt="" class="nav-togger-menu-cerrar">
     
            </div>
            <li class="nav-menu-items"><a href="./Validador-Retencion-ind.html" class="nav-menu-link nav-link ">Validador
                retención en la fuente </a> </li>
            <li class="nav-menu-items"><a href="./PLANILLA DE TURNOS.html" class="nav-menu-link nav-link ">planilla Turnos </a></li>
            <li class="nav-menu-items"><a href="" class="nav-menu-link nav-link ">juegos</a> </li>
            
            <li class="nav-menu-items"><a href="./Contacto.html" class="nav-menu-link nav-link ">contacto</a></li>
     
          </ul>
        </nav>
      </header>
     
     


</body>
</html>