<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/rete copy 3.css" type="text/css" media="screen">
   
    <title>Tabla de retención en la fuente para empleados colombia  </title>

   
</head>
<body>

  
    <nav>
        <img src="./icons/flecha-hacia-atras.png" alt="" class="devolverse" >
      
        <img src="./icons/menu.png" alt="menu" class="menu">


       <div class="navbar-left">
           <ul class="link" >
               
            <li><a  href="./index.html"> Pagina Principal   </a>  </li>
            <li><a  href="METODO 1.html"> Procedimiento 2 </a>  </li>
            <li><a  href="./Pagina_Validador_Rete_ind.html"> Validador de retención en la fuente  </a>  </li>
         
               <div class="Buscar">
   
               
                   <label for="buscarenPagina">    <strong> Buscar en la pagina : </strong></label>
                   <input type="search"id="buscarenPagina" placeholder=" Buscar">
               </div>
           </ul>

      </div>
   </nav>

    <header> <h1>
       <span> Tabla de retención en la fuente por salarios (Art. 383 ET)  </span> 
    </h1>
       
    <a  href="https://www.consultorcontable.com/retenci%C3%B3n-salarios/"><p>Para mayor información visita </p> </a>

    </header>

      

   <section class="sectionMetodo">

    <div class="sepacion_Flex">


    <form action="" class="metodoForm2">
        <div>
            <h1 >Topes  </h1>
            <div class="alinecionMetodo">
                <label for="uvt">Valor UVT 2022 :  </label>
                <input type="text" value="$ 38.004" name="" id="uvt" disabled="true">
            </div>
            <div class="borderdeducibles">
    
                <h3 class="deducibleColor">Deducible 2022:</h3>
    
                <div class="pesosUvt">
                    <h3 >Pesos 
                         </h3>
                    <h3>Uvt </h3>
                </div>
    
                <div class="alineacioninput">
    
                    <label for="metodo">Vivienda </label>
                    <div class="alineacioninputded">
                        <input  type="text"  value="$ 3.800.400" name="" id="" disabled="true">
                        <input  type="number"  value="100" name="" id="" disabled="true">
                    </div>
    
    
                        <label for="metodo">Prepagada</label>
                    <div class="alineacioninputded">
                        <input  type="text"  value=" $ 608.064" name="" id="" disabled="true">
                        <input  type="number"  value="16" name="" id="" disabled="true">
                    </div>
            
                    <label for="metodo">Dependientes</label>
                    <div class="alineacioninputded">
                        <input  type="text"  value="$ 1.216.128" name="" id="" disabled="true">
                        <input  type="number"  value="32" name="" id="" disabled="true">
                    </div>
    
                </div>
             </div>
        </div>

    </form>

    


        <table>
            <tbody>
                <tr>
                <td><strong>Rangos en Uvt</strong></td>
                <td><strong>Tarifa marginal</strong></td>
                <td><strong>Retención en la fuente</strong></td>
                </tr>
                <tr>
                <td><strong>Desde </strong></td>
                <td><strong>hasta</strong></td>
                <td></td>
                </tr>
                <tr>
                <td>0</td>
                <td>95</td>
                <td>0%</td>
                <td>0</td>
                </tr>
                <tr>
                <td>&gt; 95</td>
                <td>150</td>
                <td>19%</td>
                <td>(Ingreso laboral gravado expresado en UVT menos 95 UVT) x 19%</td>
                </tr>
                <tr>
                <td>&gt; 150</td>
                <td>360</td>
                <td>28%</td>
                <td>(Ingreso laboral gravado expresado en UVT menos 150 UVT) x 28% mas 10 UVT</td>
                </tr>
                <tr>
                <td>&gt; 360</td>
                <td>640</td>
                <td>33%</td>
                <td>(Ingreso laboral gravado expresado en UVT menos 360 UVT) x 33% mas 69 UVT</td>
                </tr>
                <tr>
                <td>&gt; 640</td>
                <td>945</td>
                <td>35%</td>
                <td>(Ingreso laboral gravado expresado en UVT menos 640 UVT) x 35% mas 162 UVT</td>
                </tr>
                <tr>
                <td>&gt; 945</td>
                <td>2.300</td>
                <td>37%</td>
                <td>(Ingreso laboral gravado expresado en UVT menos 945 UVT) x 37% mas 268 UVT</td>
                </tr>
                <tr>
                <td>&gt; 2.300</td>
                <td>En adelante</td>
                <td>39%</td>
                <td>(Ingreso laboral gravado expresado en UVT menos 2300 UVT) x 39% mas 770 UVT.</td>
                </tr>
            </tbody>
        </table>
    

    
    

   </section>
   <footer>

    <article>
        <p>
            
            <strong>ADVERTENCIA: </strong>
             Los Ejercicios propuestos pueden ocasionar errores reales y
             potenciales podrían no ser detectados. Mediante la presente simulación no se asume responsabilidad de
              revisar, probar o detectar errores. Ninguna simulación será proporcionada o tratada como 
              un asesoramiento y en tal sentido no podrá ser utilizada para la toma de decisiones. 
              No se otorga ninguna representación, garantía o compromiso (expreso o implícito) de 
              ningún tipo sobre la exactitud, 
            idoneidad o suficiencia para las necesidades propias del usuario.

        </p>

    </article>

</footer>    
    
</body>
</html>